# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package.json

#Environment Variables
.env

#Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

.DS_Store
Thumbs.db
.vscode/